<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Would you like to subscribe?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
<h1>Please enter Name and Email</h1>

<span th:each="email:${subscribe}">
    <!--/*@thymesVar id="email" type=""*/-->
    <span th:text="${email.name} + ': ' + ${email.email}"></span>
</span>

<form th:action="@{/emails}" th:object="${email}" method="post">
    <p>Title: <input type="text" th:field="*{name}" /></p>
    <p>Author: <input type="text" th:field="*{email}" /></p>
    <p>
        <input type="subscribe" value="Subscribe" />
        <input type="unsubscribe" value="Unsubscribe" />
    </p>
</form>
</body>
</html>